<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <% for (var css in htmlWebpackPlugin.files.css) { %><link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"><% } %>
  <title>blockchain wallet</title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="app">
    <strong>JavaScriptを有効にしてください</strong>
  </div>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer></script><% } %>
  <script type="text/javascript">
    document.getElementById("app").textContent = "";
  </script>
</body>
</html>
